# PostgreSQL Ayarları
POSTGRES_DB=your_database_name
POSTGRES_USER=your_database_user
POSTGRES_PASSWORD=your_secure_password

# Redis Ayarları
REDIS_HOST=redis
REDIS_PORT=6379

# FastAPI (Policy Engine) Ayarları
API_PORT=8000
DATABASE_URL=postgresql://user:password@host:port/dbname
REDIS_URL=redis://host:port/db

# FreeRADIUS Ayarları
API_BASE_URL=http://api:8000
RADIUS_SECRET=your_radius_secret